@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background-color: #1A1A1D;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@supports (margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 9.375rem )) {
  .wrapper > main {
    margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 9.375rem );
  }
}

@supports not (margin-top: clamp( 4.375rem , 2.5568181818rem  +  9.0909090909vw , 9.375rem )) {
  .wrapper > main {
    margin-top: calc(4.375rem + 5 * (100vw - 20rem) / 55);
  }
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #1A1A1D;
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  right: 0.9375rem;
  outline: none;
  border: none;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation {
  border-top: 2px solid #C3073F;
}

@supports (margin-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .navigation {
    margin-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }
}

@supports not (margin-top: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .navigation {
    margin-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.navigation__content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__content a {
  font-weight: 700;
  color: #EDC7B7;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.xml {
  min-width: 43.75rem;
  padding: 0.9375rem;
  background-color: transparent;
  line-height: 130%;
}

.symbol {
  color: #d1f1a9;
}

.regexp {
  color: #ff9da4;
}

.comment {
  color: #7285b7;
}

.string {
  color: #d1f1a9;
}

.keyword {
  color: #ebbbff;
}

.variable {
  color: #ff9da4;
}

.number {
  color: #ffc58f;
}

.function {
  color: #bbdaff;
}

.header {
  background-color: #6F2232;
  outline: 2px solid #fff;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 0rem;
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
       -moz-column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
            column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem )) or (column-gap: clamp( 0.9375rem , 0.3693181818rem  +  2.8409090909vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
            column-gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.menu__link {
  font-weight: 700;
  padding: 0.3125rem 0.625rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__act {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid #fff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.template-docs__title {
  font-weight: 800;
  line-height: 110%;
  color: #fff;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}

@supports (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .template-docs__title {
    font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .template-docs__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.template-docs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.template-docs__item {
  background-color: #4E4E50;
  padding: 1.25em;
  border: 1px solid #950740;
}

@supports (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .template-docs__item {
    margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .template-docs__item {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.docs-item__title {
  font-weight: 800;
  line-height: 115%;
}

@supports (font-size: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .docs-item__title {
    font-size: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .docs-item__title {
    font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.docs-item__link {
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.docs-item__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .docs-item__category {
    margin-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem );
  }
}

@supports not (margin-top: clamp( 0.9375rem , 0.5965909091rem  +  1.7045454545vw , 1.875rem )) {
  .docs-item__category {
    margin-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 55);
  }
}

.docs-item__cat {
  margin-left: 0.625em;
  color: #FBEEC1;
}

.info-template__title {
  font-weight: 800;
  line-height: 110%;
  color: #fff;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}

@supports (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .info-template__title {
    font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .info-template__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.info-template__cat {
  color: #FBEEC1;
  font-weight: 700;
}

.info-template__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-template__head {
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.info-template__link {
  color: #6F2232;
  font-weight: 700;
  font-size: 1.0625rem;
}

.info-template__info {
  margin-top: 2.5rem;
}

.info-post__title {
  font-weight: 700;
  line-height: 120%;
  font-size: 1.5625rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5625rem;
  color: #EDC7B7;
}

.info-post__text {
  margin-bottom: 1.25rem;
  line-height: 1.5;
  margin-top: 1.25rem;
}

.info-post__link {
  font-size: 1.0625rem;
  font-weight: 700;
  color: #C3073F;
  line-height: 1.5;
}

.info-post__item {
  margin-top: 1.25rem;
}

.info-post__stats {
  margin-top: 1.25rem;
  line-height: 1.5;
  position: relative;
  padding-left: 0.625rem;
  position: relative;
}

.info-post__stats::before {
  content: "•";
  padding-right: 0.625rem;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 18px;
  color: #FBEEC1;
  position: absolute;
  left: -0.9375rem;
  top: 0;
}

.xml {
  min-width: 43.75rem;
  background-color: transparent;
  line-height: 130%;
}

.installation__title {
  font-weight: 800;
  line-height: 110%;
  color: #fff;
  margin-bottom: 0.625em;
  margin-top: 0.625em;
}

@supports (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .installation__title {
    font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 0.9943181818rem  +  2.8409090909vw , 3.125rem )) {
  .installation__title {
    font-size: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 55);
  }
}

.installation__cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .installation__cat {
    padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0227272727rem  +  1.1363636364vw , 1.875rem )) {
  .installation__cat {
    padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55);
  }
}

.installation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.5rem;
  color: #FBEEC1;
  font-weight: 700;
}

.installation__info {
  margin-top: 2.5rem;
}

.info-installation__title {
  font-weight: 700;
  line-height: 120%;
  font-size: 1.5625rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5625rem;
  color: #EDC7B7;
}

.info-installation__text {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.5;
}

.info-installation__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  width: 100%;
}

.info-installation__link {
  color: #C3073F;
  font-weight: 700;
  font-size: 1.0625rem;
}

.info-installation__bold {
  font-weight: bold;
  color: #FBEEC1;
  font-size: 1.125rem;
}

.info-installation__quote {
  margin-top: 1.25rem;
  border-left: 0.3125rem solid #C3073F;
  position: relative;
  padding-left: 0.9375rem;
}

.info-installation__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info-installation__error {
  margin-top: 1.25rem;
  color: #EDC7B7;
}

@supports (width: clamp( 20rem , 14.5454545455rem  +  27.2727272727vw , 35rem )) {
  .info-installation__error {
    width: clamp( 20rem , 14.5454545455rem  +  27.2727272727vw , 35rem );
  }
}

@supports not (width: clamp( 20rem , 14.5454545455rem  +  27.2727272727vw , 35rem )) {
  .info-installation__error {
    width: calc(20rem + 15 * (100vw - 20rem) / 55);
  }
}

.info-installation__error:nth-child(1) {
  margin-right: 0.625rem;
}

.info-installation__error img {
  width: 100%;
}

.info-installation__error span {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.info-installation__help {
  border-left: 0.3125rem solid #C3073F;
  position: relative;
  padding-left: 0.9375rem;
}

.info-installation__code {
  width: 100%;
  padding: 1.875rem;
  margin-top: 1.875rem;
  -moz-tab-size: 1.875rem;
    -o-tab-size: 1.875rem;
       tab-size: 1.875rem;
  background-color: #413659;
  overflow: auto;
}

.info-installation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-installation__info img {
  width: 100%;
}

.info-installation__info span {
  margin-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  color: #EDC7B7;
}

.info-installation__item {
  margin-top: 1.25rem;
  line-height: 1.5;
  position: relative;
  padding-left: 0.625rem;
  position: relative;
}

.info-installation__item::before {
  content: "•";
  padding-right: 0.625rem;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 18px;
  color: #FBEEC1;
  position: absolute;
  left: -0.9375rem;
  top: 0;
}

.tag {
  color: #FF9D93;
}

.attribute {
  color: #FFEEAD;
}

.value {
  color: #72C2A1;
}

.keyword {
  color: #ebbbff;
}

@media (max-width: 29.99875em) {
  .docs-item__category {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .docs-item__cat {
    margin-top: 0.625rem;
    margin-left: 0rem;
  }
}

@media (any-hover: hover) {
  .navigation__content a:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #4E4E50;
  }

  .menu__link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 2px solid #fff;
  }

  .docs-item__link:hover {
    color: #6F2232;
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .docs-item__cat:hover {
    text-decoration: underline;
  }

  .info-template__cat:hover {
    text-decoration: underline;
  }

  .info-template__link:hover {
    text-decoration: underline;
  }

  .info-post__link:hover {
    text-decoration: underline;
  }

  .installation__link:hover {
    text-decoration: underline;
  }

  .info-installation__link:hover {
    text-decoration: underline;
  }
}